* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: rgb(34, 34, 34);
    padding-bottom: 20px;
    gap: 45px;
}
.githubCat-img{
    width: 50px;
    border-radius: 50%;
}
.seach-input{
    border-radius: 5px;
    border: 1px solid rgb(147, 145, 145) ;
    outline: none;
    background-color: rgb(34, 34, 34);
    padding: 5px 50px 5px 40px;
    font-size: 1.25rem;
    color: white;
}
.user-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 25px;
    background-color:rgba(34, 34, 34, 0.616);
}

.user-img{
    border-radius: 50%;
}
